.heroContainer{
    height: 70vh;
    display: flex;
    gap: 48px;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

h1 {
    color: var(--col-txt-prim);
    font-size: 65px;
}

.pDescHero {
    color: var(--col-txt-prim);
}

.fotoPerfil{

    max-width: 480px;

}
.heroInfo, .heroRight{
    width: 50%;
}

.heroRight{
    display: flex;
    align-items: center;
    justify-content: center;
}