.sectionFloat{
    background-color: var(--col-main-purple-blur);
    height: 75vh;
    z-index: 1;
    border-radius: 48px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
}

h2{
    color: var(--col-txt-main);
}
.pDesc{
    color: var(--col-txt-main);
}