:root {

  /* COLORS */
  --col-nav: #000000;
  --col-body: #0a0a0a;
  --col-txt-main: white;
  --col-main-purple: #8939c9;
  --col-bg-floatSection: #480848e6;
  --col-main-purple-blur: #8018d3b3;


  /* FONTS */
  --font-24: 24px;
  --font-18: 18px;
  --font-14: 14px;
}