:root {
    --col-nav: #000000;
    --col-body: #0a0a0a;
    --col-txt-prim: #dfdae3;
    --col-txt-prim-hover: #cc9cf2;
    --col-bg-floatSection: #480848e6;
    
    --font-24: 24px;
    --font-18: 18px;
    --font-14: 14px;
  }
  