.navbarCont {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 60px;
    background-color: rgba(13, 13, 13, 0.8);
    backdrop-filter: blur(8px);
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.infoNavbar {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    max-width: 1800px;
}

.logoLinkedin,
.contactNavbar,
.nameNavbar,
.SuperpowersNavbar {
    color: var(--col-txt-main);
    font-size: var(--font-p-small);
}

.logoLinkedin:hover,
.contactNavbar:hover,
.nameNavbar:hover,
.SuperpowersNavbar:hover {
    color: var(--col-main-purple);
}

.nameNavbar {
    font-weight: 600;
}


a {
    text-decoration: none;
    display: inline-flex;
}