@import './styles/Variables.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background: var(--col-body);
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 1;
}

p,
span {
  font-weight: 400;
}
button {
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}


.siteContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainContainer {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 32px;
  padding-top: 108px;
}

/* Desktop medio */
@media (max-width: 1271px) {
  .mainContainer {
    max-width: 1080px;
  }
}

/* Desktop chico */
@media (max-width: 1120px) {
  .mainContainer {
    max-width: 950px;
  }
}

/* Tablet horizontal */
@media (max-width: 991px) {
  .mainContainer {
    max-width: 720px;
  }
}

/* Tablet vertical */
@media (max-width: 767px) {
  .mainContainer {
    max-width: 540px;
  }
}

/* Mobile medio */
@media (max-width: 576px) {
  .mainContainer {
    max-width: 440px;
  }
}

/* Mobile chico */
@media (max-width: 479px) {
  .mainContainer {
    max-width: 375px;
  }
}
